@model IEnumerable<UserAccount>


<select form="dropdown" name="userId">
    <option value="">Choose a User</option>
    @foreach (var user in Model)
    {
        <option value="@user.UserId">@user.Name</option>
    }
</select>
<form asp-action="FoxCoinPage" id="dropdown" method="get">
    <input type="submit" value="Switch" />
</form>

<h1>Generate FoxCoin</h1>
<p> current User Id @ViewBag.CurrentUserId</p>

<form asp-action="GenerateCoin" asp-route-userId="@ViewBag.CurrentUserId">
    <button type="submit"><img src="images/foxcoin.png" hight="300" width="300" /> </button>
</form>