
@{
    ViewData["Title"] = "Index";
}
@model MyApplication1.Models.Greeting
<head>
    <title> Home Page Jeffery WebSite</title>
</head>
<body>
<h1 style="color: blue; size: A3" > Choose a language</h1>
<a href="../web/greeting"> try this link</a>
</body>

