
@using BankOfSimba.Models
<h1>
    Simba:  Welcome to the Animal World!
</h1>

<form action="/" method="post">
    Name: <input type="text" name="Name" /><br/>
    Balance: <input type="number" name="Balance"/><br/>
    Currency: <input type="checkbox" name="Currency" value="Dollar"/> Dollar
    <input type="checkbox" name="Currency" value="Yuan"/> Yuan
    <input type="checkbox" name="Currency" Value="Zebra"/> Zebra
    <input type="checkbox" name="Currency" value="Pound"/> Pound<br/>
    Animal Type: <input type="text" name="AnimalType"/><br/>
    Is good Guy? <input type="checkbox" name="IsGoodGuy" value="Good"/> Yes
    <input type="checkbox" name="IsGoodGuy" value="Bad"/> No
    <button type="submit">Add</button>

</form>