


@model MyApplication1.Models.Greeting
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Getting stared :Serving web </title>
</head>

<body>
    <p>
        Hello @Model.Content, this site has been overloaded @Model.Id times since last server start. 
    </p>
</body>
</html>